@font-face {
  font-family: Inter;
  src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf');
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: #23252c;
  height: 100vh;
}

#root,
.container {
  height: 100%;
}

.container {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  margin: auto;
  width: 317px;
}

.card--image {
  width: 317px;
  height: 317px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 0px 0px;
  display: block;
}

.card--header {
  text-align: center;
  padding: 0 35px 0 35px;
}

.card--header--title {
  margin: 0;
  padding: 21px 0 6.19px 0;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.card--header--sub-title {
  margin: 0;
  padding: 0 0 8.81px 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}

.card--header--website {
  padding: 0 0 15px 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
}

.card--header--button-group {
  display: flex;
  justify-content: space-between;
  margin: 0 0 9px 0;
}

.card--header--button-group > button {
  width: 115px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 9px 13px 9px 11px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.card--header--button-group > button > img {
  width: 16px;
  height: 16px;
}

.card--description {
  padding: 24px 35px;
}

.card--description > section {
  margin: 0 0 25px 0;
}

.card--description > section > h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 5px 0;
}

.card--description > section > p {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  margin: 0;
}

.card--footer {
  display: flex;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
  padding: 19px 73px 20px 73px;
}

.card--footer > img {
  width: 25px;
  height: 25px;
}

@media (prefers-color-scheme: dark) {
  .card--body {
    background-color: #1a1b21;
  }

  .card--header--title {
    color: #ffffff;
  }

  .card--header--sub-title {
    color: #f3bf99;
  }

  .card--header--website {
    color: #f5f5f5;
  }

  .card--header--button-group--email {
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    color: #374151;
  }
  .card--header--button-group--linkedin {
    border: 0;
    background-color: #5093e2;
    color: #ffffff;
  }

  .card--description > section > h3 {
    color: #f5f5f5;
  }

  .card--description > section > p {
    color: #dcdcdc;
  }

  .card--footer {
    background-color: #161619;
  }
}

@media (prefers-color-scheme: light) {
  .card--body {
    background-color: #f5f5f5;
  }

  .card--header--title {
    color: #2b283a;
  }

  .card--header--sub-title {
    color: #f47d27;
  }

  .card--header--website {
    color: #4a4e74;
  }

  .card--header--button-group--email {
    border: 1px solid #d1d5db;
    background-color: #ffffff;
    color: #374151;
  }
  .card--header--button-group--linkedin {
    border: 0;
    background-color: #297fe5;
    color: #ffffff;
  }

  .card--description > section > h3 {
    color: #2b283a;
  }

  .card--description > section > p {
    color: #4a4e74;
  }

  .card--footer {
    background-color: #d5d4d8;
  }
}
